<div class= 'welcome'>
<h1>"Welcome to Blue Ash Farm!"</h1>
<h3>" Our site is currently under construction. Bookmark us and come back soon!"</h3>
<h3>" Join our <%=link_to "email", emails_path, {:style=> 'color:#0000FF'}%> list for updates."</h3>
</div>